.itemMenu {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    font-weight: 700;
    border-radius: 0 9rem 9rem 0;
    cursor: pointer;
    transition: width .6s ease-in-out;
    
    &:hover {
        background-color: var(--color-primary-light-trans);
    }
}

.clicked {
    background-color: var(--color-primary-light);
    
    &:hover {
        background-color: var(--color-primary-light);
    }
}

.colapsado {
    padding: 1rem;
    margin-left: 1rem;
    border-radius: 50%;
    width: -moz-fit-content;
    width: fit-content;
    
    span:nth-child(2) {
        visibility: hidden;
    }
}

@media screen and (prefers-color-scheme: dark) {
    .clicked{
        color: var(--color-background);
    }
}