.topbar {
    width: 100vw;
    height: 4rem;
    border-bottom: 1px solid var(--cinza2);
    padding: .5rem 2rem;
    font-size: 1.5rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    
    & > div {
        display: flex;
        gap: .5rem;
        align-items: center;
    }
}