.aside {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transition: width .6s ease-in-out;

    ul {
        list-style: none;
        padding-block: 2rem;
    }
}

.colapsado {
    width: 100px;
    overflow: hidden;
}
