.botao {
    padding: .5rem;
    border-radius: var(--br2);
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    transition: .6s ease-in-out;
}

.solido {
    background-color: var(--color-primary);
    color: var(--color-background);

    &:hover {
        background-color: var(--color-primary-dark);
    }
    
    &:active {
        background-color: var(--color-primary);
    }
}

.delineado {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);

    &:hover {
        background-color: var(--color-primary-light-trans);
        color: var(--color-primary-dark)
    }
    
    &:active {
        background-color: var(--color-primary-light);
    }
}

.texto {
    color: var(--color-primary);
}