@import url('https://renan-santos.netlify.app/styles/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
	/* % CORES */
	--color-primary: hsl(184, 50%, 58%);
	--color-primary-dark: hsl(184, 50%, 46%);
	--color-primary-light: hsl(184, 40%, 70%);
	--color-primary-light-trans: hsla(184, 40%, 70%, 25%);
	--color-secondary: #21a29a;
	--color-secondary-dark: #196661;
	--color-secondary-light: #196661;

	--color-background: #f0f0f0;
	--color-paper: hsl(0, 0%, 98%);
	--color-paper-hover: hsl(0, 0%, 100%);

	--color-text: #383838;
	--color-tile: #000000;

	--cinza: hsl(191, 5%, 94%);
	--cinza1: hsl(191, 5%, 93%);
	--cinza2: hsl(191, 5%, 80%);
	--cinza3: hsl(191, 5%, 67%);
	--cinza4: hsl(191, 5%, 47%);
	--cinza5: hsl(191, 5%, 33%);
	--cinza6: hsl(191, 5%, 19%);
	--cinza7: hsl(191, 5%, 6%);

	/* % MEDIDAS */
	--br1: 4px;
	--br2: 8px;
	--br3: 12px;

	/* % SOMBRAS */
	--sombra1: 1px 1px 8px rgba(0, 0, 0, 0.2);
	--sombra2: 2px 2px 12px rgba(0, 0, 0, 0.1);
	--sombra3: 4px 4px 16px rgba(0, 0, 0, 0.1);
	--sombra4: 8px 8px 18px rgba(0, 0, 0, 0.1);
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--color-primary: hsl(185, 40%, 58%);
		--color-primary-dark: hsl(185, 40%, 43%);
		--color-primary-light: hsl(184, 30%, 73%);
		--color-primary-light-trans: hsla(184, 30%, 73%, 25%);
		--color-secondary: #38d6ca;
		--color-secondary-dark: #99e6df;
		--color-secondary-light: #00bfb3;

		--color-background: hsl(225, 6%, 13%);
		--color-paper: hsl(225, 4%, 20%);
		--color-paper-hover: hsl(225, 4%, 22%);

		--color-text: #ddd;
		--color-tile: #ffffff;

		--cinza: hsl(191, 5%, 13%);
		--cinza1: hsl(191, 5%, 6%);
		--cinza2: hsl(191, 5%, 19%);
		--cinza3: hsl(191, 5%, 33%);
		--cinza4: hsl(191, 5%, 47%);
		--cinza5: hsl(191, 5%, 67%);
		--cinza6: hsl(191, 5%, 80%);
		--cinza7: hsl(191, 5%, 93%);
	}
}

body {
	font-family: 'Lato', Roboto, sans-serif;
	background-color: var(--color-background);
	color: var(--color-text);
}

button {
	background-color: transparent;
}
